@import 'spacings';
@import 'colours';

.filterBtn {
  $active-color: $white;
  $indicator-margin: units(0.5);

  margin-right: units(3);
  color: $blue-light-20;
  font-weight: normal;
  text-transform: inherit;
  letter-spacing: 0.01em;

  &.active {
    position: relative;
    height: 100%;
    color: $active-color;
    text-shadow: 0px 0px 0.02em $active-color;

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 4px;
      width: calc(100% + 2 * #{$indicator-margin});
      left: -#{$indicator-margin};
      bottom: -#{units(1)};
      background-color: $active-color;
    }
  }

  &.disabled {
    color: $blue-light-50;
    pointer-events: none;
  }

  &:hover {
    color: $active-color;
  }
}
