@import 'spacings';
@import 'colours';

.tableTools {
  margin-bottom: units(0.75);
  display: flex;
  justify-content: space-between;
}

.tableToolsRight {
  justify-content: flex-end;
  display: flex;
}

.select {
  width: 14em;
}

.searchInput {
  background-color: $white;
  margin-left: units(0.5);
  width: 25%;
  min-width: 12em;
}
