@import 'spacings';

.individualCustomerPage {
  min-height: 100%;
  padding: units(2);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  grid-gap: units(1.5);
}
