@import 'spacings';

.harborProperties {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 60%;
}

.image {
  width: 270px;
  min-width: 270px;
  margin-right: units(1.5);
  object-fit: cover;
}

.propsGrid {
  grid-row-gap: units(1.5);
}
