@import 'spacings';
@import 'colours';

.propertyIcon {
  display: inline-block;
  border-radius: 50%;
  padding: units(0.25);
  width: units(1.5);
  height: units(1.5);
  border: solid 2px $black;
  text-align: center;
}

.disabled {
  fill: $gray-200;
  border-color: $gray-200;
}
