@import 'colours';
@import 'spacings';
@import 'fonts';

.button {
  --vene-button-color: #{$blue-500};

  padding: units(0.5);
  cursor: pointer;
  font-size: font-size(16);
  color: $white;
  fill: $white;
}

.critical {
  --vene-button-color: #{$red-500};
}

.secondary {
  --vene-button-color: #{$gray-200};
  color: $black;
  fill: $black;
}

.standard {
  padding-left: units(0.75);
  padding: units(0.5);
}

.large {
  font-size: font-size(18);
  padding: units(0.5) units(0.75);
}

.small {
  font-size: font-size(14);
  padding: units(0.25) units(0.25);
}

.contained {
  border: none;
  background-color: var(--vene-button-color);
}

.outlined {
  border-color: var(--vene-button-color);
  color: var(--vene-button-color);
  fill: var(--vene-button-color);
  background: none;
}

.text {
  border: none;
  color: var(--vene-button-color);
  fill: var(--vene-button-color);
  background: none;
  padding: 0;
}

.hasIcon {
  display: flex;
  align-items: center;

  & > :first-child {
    margin-right: units(0.5);
  }
}

.disabled {
  cursor: not-allowed;
}
