@import 'colours';
@import 'spacings';

%pseudo-divider:not(:last-of-type)::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  background-color: $gray-200;
  top: units(0.5);
  bottom: units(0.5);
  right: 0;
}

$rows-spacing: units(0.25);

.table {
  border-collapse: separate;
  border-spacing: 0 $rows-spacing;
  width: 100%;

  .tableHeader {
    @extend %pseudo-divider;

    text-align: left;
    padding: units(1);
    font-weight: normal;
    position: relative;
    border-bottom: solid 2px $gray-500;
  }

  .mainHeader {
    background-color: $blue-500;
    padding-top: units(1);
    padding-bottom: units(1);
    color: $white;
    font-weight: bold;
    border: none;
  }

  .arrow {
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
  }

  .tableRow {
    background-color: $white;
  }

  .expandedRow {
    box-shadow: 0px -#{$rows-spacing} 0px 0px $white;
  }

  .selected {
    box-shadow: 0px 0px 0px 1px $blue-500;
  }

  .tableCell {
    @extend %pseudo-divider;

    position: relative;
    margin: units(0.5) 0;
    padding: units(1);
    min-width: units(4);
  }

  .selector,
  .radioSelector {
    min-width: units(4);
    width: units(4);
    text-align: center;
  }

  .expander {
    margin: 0 auto;
    min-width: unset;
    text-align: center;
    width: units(2);
    cursor: pointer;
  }

  .expandArrowWrapper {
    text-align: center;
  }
}
