@import 'colours';

div.select {
  --menu-item-background-selected: #{$blue};
  --menu-item-background-selected-hover: #{$blue-dark-50};
  span[class^='RequiredIndicator'] {
    line-height: 0;
  }
}
