@import 'spacings';
@import 'colours';

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: units(0.5) units(1);

  background-color: $gray-100;

  header {
    width: auto;
    background-color: $blue-500;
    padding: units(0.5) units(1);
    margin: 0;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  section {
    padding: units(0.5) units(1);
  }
}
.standard {
  background-color: inherit;
}

.brand {
  background-color: $blue-500;
}

.primary {
  background-color: $gray-100;
}

.secondary {
  background-color: $gray-200;
}
/*
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*/