@import 'spacings';
@import 'colours';

.berthDetails {
  padding: 0 units(0.25);
}

.editSection {
  justify-self: end;
}

.berthProperties {
  display: flex;
  padding-bottom: units(1);
  margin-bottom: units(1);
  border-bottom: solid 2px $black-20;
}

.property {
  margin-right: units(6);
}

.comment {
  max-width: 32em;
}
