@import 'colours';
@import 'spacings';

.labelValuePair {
  display: flex;
}

.label {
  --vene-label-color: inherit;

  display: inline-block;
  margin-right: units(0.5);
  min-width: units(8);
  color: var(--vene-label-color);
  flex: 1;
}

.value {
  text-align: left;
  margin-right: 0;
  flex: 1;

  &.right {
    text-align: right;
  }
}

.brand {
  --vene-label-color: #{$blue-500};
}

.critical {
  --vene-label-color: #{$red-500};
}

.secondary {
  --vene-label-color: #{$gray-200};
}
