@import 'spacings';

.applicationStatus {
  --background-color: transparent;
  --color: transparent;

  background-color: var(--background-color);
  color: var(--color);
  padding: units(0.25) units(0.75);

  &.expired {
    --background-color: rgb(229, 229, 229);
    --color: rgb(76, 76, 76);
  }

  &.handled,
  &.offerGenerated {
    --background-color: rgb(226, 245, 243);
    --color: rgb(0, 122, 100);
  }

  &.offerSent {
    --background-color: rgb(226, 245, 243);
    --color: rgb(0, 122, 100);
  }

  &.pending {
    --background-color: rgb(255, 244, 180);
    --color: rgb(152, 103, 0);
  }

  &.noOffer {
    --background-color: rgb(250, 217, 200);
    --color: rgb(152, 103, 0);
  }
}
