@import 'colours';
@import 'spacings';
@import 'breakpoints';

$noSidebar: 'header  header' 'content content' 'footer  footer';

.layout {
  display: grid;
  grid-template-columns: minmax(units(16), max-content) 4fr;
  grid-template-rows: minmax(units(4), min-content) 1fr auto;
  grid-template-areas:
    'header  header'
    'side   content'
    'footer  footer';

  height: 100vh;

  .header {
    grid-area: header;
  }

  .sidebar {
    grid-area: side;
  }

  .content {
    grid-area: content;
    overflow-y: scroll;
    background-color: $black-5;
  }

  .footer {
    grid-area: footer;
  }

  &.noSidebar {
    grid-template-areas: $noSidebar;
  }

  @include for-size(tablet-portrait-down) {
    grid-template-areas: $noSidebar;

    .sidebar {
      display: none;
    }
  }
}
