@import 'spacings';
@import 'colours';

.loginPage {
  width: 100vw;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $gray-100;
}

.contentWrapper {
  max-width: 300px;
  text-align: center;
  margin-bottom: units(2);
}
