@import 'colours';
@import 'spacings';

.berthSummary {
  border: 1px solid $black-50;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  margin-bottom: units(0.5);
  padding: units(0.5);
}

.count {
  padding: units(0.5) units(1);

  &:not(:last-child) {
    border-right: 1px solid $black-50;
  }
}
