@import 'colours';
@import 'spacings';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selectContainer {
  color: $white;
  background-color: $blue-500;
}

.pierButton {
  text-transform: uppercase;
  padding: units(1);
  margin: 0 units(1);
}

.pierButtonSelected {
  font-weight: bold;
  border-bottom: 5px solid $white;
}
