@import 'spacings';
@import 'colours';

.checkbox {
  --checkbox-dimension: #{units(1)};

  position: relative;
  box-sizing: content-box;
  display: inline-block;
  width: var(--checkbox-dimension);
  height: var(--checkbox-dimension);
  border: solid $gray-200 2px;
  vertical-align: middle;
  cursor: pointer;
}

.input {
  display: none;
}

.check {
  position: absolute;
  width: var(--checkbox-dimension);
  height: var(--checkbox-dimension);
  fill: $white;
}

.checked {
  border-color: $blue-500;
  background-color: $blue-500;

  &.disabled {
    border-color: $gray-500;
    background-color: $gray-500;
  }
}

.label {
  margin-left: units(0.5);
  cursor: pointer;
  vertical-align: middle;
}

.disabled {
  cursor: not-allowed;
}

.large {
  --checkbox-dimension: #{units(1.5)};
}

.small {
  --checkbox-dimension: #{units(0.75)};
}
