@import 'spacings';
@import 'colours';

.icon {
  --icon-stroke-color: #{$black};
  --icon-dimension: #{units(1.5)};

  border-color: var(--icon-stroke-color);
  display: inline-block;
  vertical-align: top;
  box-sizing: content-box;
  width: var(--icon-dimension);
  height: var(--icon-dimension);
  fill: var(--icon-stroke-color);

  svg {
    border-color: var(--icon-stroke-color);
    fill: var(--icon-stroke-color);
  }
}

.nowrapper {
  display: inline-flex;
  position: relative;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.standard {
  --icon-stroke-color: inherit;
}

.left {
  transform: rotate(270deg);
}

.right {
  transform: rotate(90deg);
}

.small {
  --icon-dimension: #{units(1)};
}

.medium {
  --icon-dimension: #{units(1.5)};
}

.large {
  --icon-dimension: #{units(2)};
}

.brand {
  --icon-stroke-color: #{$blue-500};
}

.disabled,
.secondary {
  --icon-stroke-color: #{$gray-200};
}

.critical {
  --icon-stroke-color: #{$red-500};
}

.outlined {
  border: solid 2px;
  border-radius: 50%;
  border-color: var(--icon-stroke-color);
  padding: units(0.5);
}
