@import 'spacings';
@import 'colours';

.tableTools {
  margin-bottom: units(0.75);
  display: flex;
  justify-content: space-between;
}

.tableToolsRight {
  justify-content: flex-end;
  display: flex;
}

.tableToolsLeft {
  display: flex;
  align-items: center;

  > * {
    margin: 0 units(1);
  }

  :first-child {
    margin-left: 0;
  }

  :last-child {
    margin-right: 0;
  }
}

.select {
  width: 14em;
}

.searchInput {
  background-color: $white;
  margin-left: units(0.5);
  width: 25%;
  min-width: 12em;
}
