@import 'spacings';

.form {
  > * {
    margin: units(1) 0;
  }
  width: units(48);
}

.formActionButtons {
  display: flex;
  justify-content: space-between;
}

.formActionButtonsRight {
  display: flex;
  justify-content: flex-end;

  > button {
    margin-left: units(0.5);
  }
}

.template {
  width: units(16);
}

.message {
  textarea {
    // HDS doesn't provide height prop at the moment
    height: 30vh !important;
  }
}
