@import 'spacings';

.form {
  padding: units(1) 0;
  max-width: units(32);

  > * {
    margin: units(1) 0;
  }
}

.confirmationModal {
  max-width: units(32);
}

.grid {
  grid-row-gap: units(1);
  grid-column-gap: units(1);
}

.formActionButtons {
  display: flex;
  justify-content: space-between;
  margin-top: units(4);
}

.checkboxes {
  > * {
    margin: units(0.5) 0;
  }
}
