@import 'colours';
@import 'spacings';

.individualHarborPage {
  min-height: 100%;
  padding: units(2);
  background-color: $gray-50;
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: units(1);
  }
}
