$white: var(--hds-ui-color-white);
$black: var(--hds-ui-color-black);

$blue-100: var(--hds-theme-color-primary-extra-light);
$blue-500: var(--hds-theme-color-primary);
$blue-900: var(--hds-theme-color-primary-dark);

$red-100: var(--hds-ui-color-error);
$red-500: var(--hds-ui-color-error);

$gray-100: var(--hds-ui-color-black-5);
$gray-200: var(--hds-ui-color-black-20);
$gray-500: var(--hds-ui-color-black-50);
