@import '~hds-core/lib/helsinki.css';
@import 'normalize';
@import 'boxSizing';
@import 'colours';

@font-face {
  font-family: 'HelsinkiGrotesk';
  src: url('https://makasiini.hel.ninja/delivery/HelsinkiGrotesk/7c46f288e8133b87e6b12b45dac71865.woff');
}

html * {
  font-family: var(--hds-theme-primary-font), Arial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
