@import 'spacings';
@import 'colours';

.berthDetails {
  padding: 0 units(0.25);
}

.berthProperties {
  display: flex;
  padding-bottom: units(1);
  margin-bottom: units(1);
  border-bottom: solid 2px $gray-200;
}

.property {
  display: flex;
  align-items: center;
  margin-right: units(6);
}

.propertyLabel {
  margin-left: units(0.5);
}

.comment {
  max-width: 32em;
}
