@import 'colours';
@import 'spacings';
@import 'z-index';

.formTitle {
}

.formTitleLabel {
  font-size: 14px;
  font-weight: bold;
}

.formTitleValue {
  margin-top: units(0.25);
  font-size: 18px;
}

.row {
  margin: units(2) 0;

  > *:not(:first-child) {
    margin-left: units(1);
  }
}

.buttonRow {
  margin-top: units(4);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
